<!-- 组合小车底盘与摄像头 -->
<robot name="my_car" xmlns:xacro="http://wiki.ros.org/xacro">
    <xacro:include filename="head.xacro" />
    <xacro:include filename="base.xacro" />
    <xacro:include filename="camera.xacro" />
    <xacro:include filename="laser.xacro" />
    <xacro:include filename="move.xacro" />
    <!-- 雷达仿真的 xacro 文件 -->
    <xacro:include filename="sensors_laser.xacro" />
    <!-- 摄像头仿真的 xacro 文件 -->
    <xacro:include filename="sensors_camera.xacro" />
    <!-- kinect仿真的 xacro 文件 -->
    <xacro:include filename="sensors_kinect.xacro" />
</robot>
